TOKEN=MTQzNjM1NTYyMDAxMzA4MDU3Ng.G6vdfB.QzM2qsP6zqZOo2bqDEqA_fnUbn1dNHnN1ENZmE
GIPHY_API_KEY=RviVaygH01rDhI0hkrNOcojQP1DcpucI
MONGO_URI=mongodb+srv://phvnode:phvnode@phvnode.zcnj2y7.mongodb.net/?retryWrites=true&w=majority
